@import url('https://fonts.cdnfonts.com/css/grandview');

.summarize_page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  justify-content: flex-start;
  background-image: url('../../../../assets/4.gif'); /* Add your image path here */
  background-size: cover; /* This will cover the entire div without stretching the image */
  background-position: center;
}

.summarize_container{
  width: 80%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.summarize_bar_container{
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.summarize_upper_bar{
  width: 100%;
  min-height: 100%;
  flex-direction: column;
}

.summarize_upper_bar_container {
  width: 100%;
  min-height: 100%;
  background-color: #F5F5F5;
  justify-content: flex-start;
  flex-direction: column;

}
.pdf_uploader_container{
  width: 100%;
  height: 300px;
  margin-top: 65px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;
}
.uploaded_files_container {
  width: 100%;
  height: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F5F5F5;
  gap: 10px;
}
.uploaded_file {
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.uploaded_file span{
  height: auto;
  width: calc(50% - 10px);
}
.selected_file {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 68, 255, 0.7);
  transition: ease-in-out .1s;
}
.unselected_files {
  color: #000;
  font-size: 14px;
  cursor: default;
}
.delete_button {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}
.delete_icon {
  height: 17px;
  width: 17px;
}
.delete_icon:hover {
  height: 15px;
  width: 15px;
  transition: ease-in-out .2s;
}

.upload_icon {
  height: 30px;
  width: 30px;
}

.file_name {
  flex-grow: 1;
  margin-left: 10px; /* space between icon and file name */
}

.pdf_uploader {
  width: 80%;
  height: 80%;
  border: 2px dashed #0f08e5;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 20px 0;
}

.pdf_uploader_dragover {
  border-color: #007bff; 
  background-color: rgba(0, 123, 255, 0.1); 
}

.file_input_label {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.file_input_label:hover {
  background-color: #0056b3; 
}

.file_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file_input_text {
  color: #0000008f;
}

.pdf_sum{
  width: 100%;
  height: 100%;
  background-color: #ece6e6;
}

.uploaded_file {
  justify-content: center;
  align-items: center;
}

.upload_button {
  width: 100%;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.summarize_pdf {
  width: 40%;
}

.upload_pdf {
  width: 60%;
}

.summarize_pdf,
.upload_pdf {
  height: 35px;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #ffffff;
  font-weight: 400;
}

.save_pdf_button:hover,
.upload_pdf:hover {
  background-color: #0056b3;
  transition: ease-in-out .4s;
}

.uploaded_files_header {
  height: 5px;
  width: 100%;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-bottom: 1.5px solid #007bffa2;
  color: #007bffa2;
}
/* BOTTOM BAR */
.summarize_bottom_bar{
  width: 100%;
  justify-content: flex-start;
  height: auto;
  padding: 20px;
  flex-direction: row;
  background-color: #F5F5F5;
  color: #000;
}

.summary {
  width: 60%;
  padding: 10px;
  height: auto;
  flex-direction: column;
}
.header {
  font-size: 23px;
  font-weight: 400;
}
.writings_before {
  margin-top: 5px;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  color: #00000083;
}

.summary_output {
  flex-direction: column;
  color: #000;
}

.writings_after {
  margin-top: 5px;
  font-weight: 300;
  font-size: 15px;
  color: #000000fc;
  white-space: pre-line;
}

.save_pdf_button {
  margin-top: 10px;
  height: 30px;
  width: 130px;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
}
.features {
   width: 40%;
   flex-direction: column;
   padding: 10px;
   height: auto;
}

.features_option {
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.features_button {
  height: 45px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #2473c89e;
  background-color: #F5F5F5;
  border: solid #007bff20;
}

.features_button:hover {
  color: #ffffffdc;
  background-color: #2473c8d4;
  transition: ease-in-out .4s;
}
.recommend_output p {
  font-size: 15px;
  display: inline;
  color: #000000b7;
}

.calsim {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.calsim_header {
  color: #2473c8ab !important ;
  border-bottom: #2473c8a5 1px solid;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 14px !important;
  font-weight: 600;
}

.findContext_header,
.rec_header {
  color: #2473c8d4 !important ;
  border-bottom: #2473c8d4 1px solid;
  justify-content: center;
  text-align: center;
  font-size: 15px !important;
  font-weight: 600;
}

.findContext_input {
  height: 40px;
  margin-left: 15px;
  width: 100%;
  background-color: #F5F5F5;
  border-bottom: solid 2px #007bff3c;
  padding-left: 10px;
  font-size: 15px;
  color: #00000093;
  outline: none;
  caret-color: #007bff43;
}

.findContext_input:focus {
  border-bottom: solid 2px #2473c865;
  caret-color: #2473c865;
}
.findContext_container {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.upload_icon2 {
  height: 18px;
  width: 18px;
  margin-right: 3px;
}
.rec_item {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 15px;
  color: #000000e0;
}
.recommend_output {
  gap: 10px;
}

.recommend_output,
.findContext_output {
  color: #000000e7 !important;
  flex-direction: column;
  font-size: 15px;
}

.calsim_output {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000e7;
}

.findContext_output2 {
  color: #000000b4;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 15px;
}
/* POP UP */
.popup_container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000017;
  backdrop-filter: blur(1.5px);
  justify-content: center;
  align-items: center;
}

.popup {
  height: 50%;
  width: 50%;
  z-index: 100;
  border-radius: 10%;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  background-color: white;

}
.popup h2 {
  margin-top: 50px;
  color: #0f67c6d7;
}
.popup p {
  color: #000000bf;
}
.popupButton {
  margin-top: 10%;
  height: 40px;
  width: 150px;
  background-color: #007bff;
  align-items: center;
  justify-content: center;
  color: #ffffff;
} 
.popupButton button:hover {
  background-color: #0056b3;
  transition: ease-in-out .3s ;
}

.loadingIcon {
  width: 15px;
  height: 15px;
  content: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='38' viewBox='0 0 40 38'><circle cx='7.43216' cy='6.9321' r='6.5679' fill='%23ffffff'/><circle cx='32.568' cy='6.9321' r='6.5679' fill='%23ffffff'/><circle cx='7.43216' cy='31.0679' r='6.5679' fill='%23ffffff'/><circle cx='32.568' cy='31.0679' r='6.5679' fill='%23ffffff'/></svg>");
  animation: spin 2s linear infinite;

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.popup input {
  width: 50%;
}  

.error_message {
  position: absolute;
  width: 220px;
  height: 39px;
  border-radius: 25px;
  margin-top: 30px;
  background-color: #FF5959;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_pop_up {
  height: 50px;
  width: 500px;
  z-index: 200;
  animation: popUpAnimation 0.5s ease, fadeOutAnimation 0.5s 3s ease forwards;
}

@keyframes popUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}